<form {{action "createOrder" model on="submit"}}>
  <label for="name">Name</label>
  {{input type="text" id="name" value=model.name}}

  {{#each model.items as |item|}}
    <label>
        {{item.product.title}} @ ${{item.product.price}}/ea
        {{input type="number" min="0" value=model.quantity}}
    </label>
  {{/each}}

  <button type="submit">Order</button>
</form>

{{outlet}}
